@model Recetario.Models.Categorium;
@{
    ViewData["Title"] = "Crear Categoria";
}
<h2 class="text-center">Recetario - Categoria</h2>
<h6 class="text-center">Gestionar las categorias de los ingredientes, recetas y menues</h6>
<div class="row">
    <div class="col-sm-12">
        <div class="card-border">
            <div class="card-header">
                <h3 class="text-center">Crear nueva Categoria</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Categoria" asp-action="Crear" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control">
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="Concepto" class="control-label"></label>
                        <input asp-for="Concepto" class="form-control">
                        <span asp-validation-for="Concepto" class="text-danger"></span>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success">Crear Categoria</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Volver a Lista</a>
</div>